[Unit]
Description=Virtual Channel Aggregator
After=multi-user.target

StartLimitIntervalSec=30
StartLimitBurst=10

[Service]
Restart=always
RestartSec=10s

WorkingDirectory=/home/bgriggs/VirtualChannelAggregator
ExecStart=/home/bgriggs/.dotnet/dotnet /home/bgriggs/VirtualChannelAggregator/BigMission.VirtualChannelAggregator.dll
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
