[Unit]
Description=Fuel Statistics
After=multi-user.target

StartLimitIntervalSec=30
StartLimitBurst=10

[Service]
Restart=on-failure
RestartSec=10s

WorkingDirectory=/home/redmist/BigMission.FuelStatistics
ExecStart=/usr/bin/dotnet /home/redmist/BigMission.FuelStatistics/BigMission.FuelStatistics.dll
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
