<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
      autoReload="true">

  <!-- the targets to write to -->
  <targets>
    <target xdt:Transform="Replace" xdt:Locator="Match(name)"
            xsi:type="Redis" name="redis" host="165.22.10.171" port="7479" password="HbRw%7Rb6N2lDV6*!A6qjKYkcY63cGuDaWh8PbPA"
            key="servicelog.0d6e4bf2-e23f-4734-b059-744fa917a651" dataType="list" maxListLength="1000" lengthTrimSecs="30"
            layout="${longdate} ${uppercase:${level}} ${message}" />
  </targets>

</nlog>