[Unit]
Description=Car Data logger
After=multi-user.target

StartLimitIntervalSec=30
StartLimitBurst=10

[Service]
Restart=on-failure
RestartSec=10s

WorkingDirectory=/home/redmist/BigMission.CarDataLogger
ExecStart=/usr/bin/dotnet /home/redmist/BigMission.CarDataLogger/BigMission.CarDataLogger.dll
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target