<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="Console" name="c" layout="${date}|${level:uppercase=true}|${message} ${exception}" />

    <target name="jsonFile" xsi:type="File" fileName="BigMission.CarRealTimeStatusProcessor.log" archiveAboveSize="100000000" maxArchiveFiles="1">
      <layout xsi:type="JsonLayout" includeAllProperties="false">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target xsi:type="Redis" name="redis" host="10.116.0.2" port="7479" password="HbRw%7Rb6N2lDV6*!A6qjKYkcY63cGuDaWh8PbPA"
            key="servicelog.a2087bae-5dd3-4d95-aa40-b12c001bdc62" dataType="list" maxListLength="1000" lengthTrimSecs="30"
            layout="${longdate} ${uppercase:${level}} ${message}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="jsonFile,c,redis" />
  </rules>
</nlog>
